table {
  width: 100%;
}

thead {
  background-color: black;
  color: white;
  text-align: left;
}

tbody tr {
  background-color: rgba(0, 0, 255, 0.1);
}

.paid_in, .paid_out {
  text-align: right;
}