table {
  width: 100%;
}

thead {
  background-color: black;
  color: white;
  text-align: left;
}

#transactions tr {
  height: 2em;
}

#transactions td, #transactions th {
  padding: 0.2em 0.5em;
  vertical-align: top;
}

#transactions .edited {
  background-color: #ff0;
}

.paid_in, .paid_out {
  text-align: right;
}

.date {
  min-width: 5em;
  text-align: right;
}

.detail p {
  margin: 0;
}

.note {
  color: #777;
  font-size: 0.9em;
  white-space: pre-wrap;
}

.category {
  color: #080;
  font-size: 0.9em;
}

.transaction .date {
  display: none;
}

.transaction .date.firstOfDay {
  display: inline;
  font-weight: bold;
}

#header {
  overflow: auto;
}

#title {
  font-size: 3em;
  display: inline;
  float: left;
}
#title a {
  text-decoration: none;
}
#title a:visited {
  color: #000;
}

#navAndSearch {
  display: inline;
  float: right;
}

#navAndSearch nav {
  margin-bottom: 0.5em;
  text-align: right;
}