<table class="transactions">
  <thead>
    <tr>
      <th>Datetime</th>
      <th>Description</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <% content_tag_for(:tr, transaction) do %>
        <td class="datetime"><%= transaction.datetime.to_s(:money_tracker) %></td>
        <td class="description"><%= transaction.description %></td>
        <td class="note"><%= transaction.note %></td>
        <td class="actions"><%= link_to "edit", edit_transaction_path(transaction) %></td>
      <% end %>
    <% end %>
  </tbody>
</ul>